In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp39-cp39-win_amd64.whl (777 kB)
     -------------------------------------- 777.1/777.1 kB 4.9 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
     ------------------------------------- 313.6/313.6 kB 19.0 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# Operation-------------Method--------------------------Description
# Create-----insert_one(), insert_many()---Adds new documents to the collection
# Read-------find_one(), find()------------Retrieves documents from the collection
# Update----update_one(), update_many()----Modifies documents in the collection
# Delete----delete_one(), delete_many()----Removes documents from the collection

In [17]:
from pymongo import MongoClient

# Connect to MongoDB (default: localhost:27017)
client = MongoClient('mongodb://localhost:27017/')

# Specify the database and collection
db = client['mydb']
collection = db['emp_data']

In [3]:
# Insert a single document
document = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

result = collection.insert_one(document)
print(f"Inserted document ID: {result.inserted_id}")

Inserted document ID: 6702405b88bf509eef1777da

In [4]:
# Insert multiple documents
documents = [
    {"name": "Bob", "age": 25, "city": "Chicago"},
    {"name": "Charlie", "age": 35, "city": "San Francisco"}
]

result = collection.insert_many(documents)
print(f"Inserted document IDs: {result.inserted_ids}")

Inserted document IDs: [ObjectId('670240a188bf509eef1777db'), ObjectId('670240a188bf509eef1777dc')]

In [5]:
# Find one document with specific criteria
document = collection.find_one({"name": "Alice"})
print(document)

{'_id': ObjectId('6702405b88bf509eef1777da'), 'name': 'Alice', 'age': 30, 'city': 'New York'}

In [6]:
# Find all documents in the collection
documents = collection.find()
for doc in documents:
    print(doc)

{'_id': ObjectId('6702405b88bf509eef1777da'), 'name': 'Alice', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('670240a188bf509eef1777db'), 'name': 'Bob', 'age': 25, 'city': 'Chicago'}
{'_id': ObjectId('670240a188bf509eef1777dc'), 'name': 'Charlie', 'age': 35, 'city': 'San Francisco'}

In [8]:
# Find documents where age > 30
query = {"age": {"$gte": 30}}#$gt-greaterthan
documents = collection.find(query)
for doc in documents:
    print(doc)

{'_id': ObjectId('6702405b88bf509eef1777da'), 'name': 'Alice', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('670240a188bf509eef1777dc'), 'name': 'Charlie', 'age': 35, 'city': 'San Francisco'}

In [9]:
# Update a single document
query = {"name": "Alice"}
new_values = {"$set": {"age": 31}}

result = collection.update_one(query, new_values)
print(f"Modified documents count: {result.modified_count}")

Modified documents count: 1

In [10]:
# Update all documents where age is greater than 30
query = {"age": {"$gt": 30}}
new_values = {"$set": {"city": "Updated City"}}

result = collection.update_many(query, new_values)
print(f"Modified documents count: {result.modified_count}")

Modified documents count: 2

In [13]:
# Delete a single document
query = {"name": "Alice"}

result = collection.delete_one(query)
print(f"Deleted documents count: {result.deleted_count}")

Deleted documents count: 0

In [14]:
# Count documents where city is "Updated City"
count = collection.count_documents({"city": "Updated City"})
print(f"Number of documents with city as 'Updated City': {count}")

Number of documents with city as 'Updated City': 1

In [18]:
# Insert multiple documents
data = [
    {"name": "Alice", "age": 30, "city": "New York", "hobbies": ["reading", "sports"], "salary": 70000},
    {"name": "Bob", "age": 25, "city": "Chicago", "hobbies": ["music", "travel"], "salary": 52000},
    {"name": "Charlie", "age": 35, "city": "San Francisco", "hobbies": ["sports", "technology"], "salary": 88000},
    {"name": "David", "age": 40, "city": "Seattle", "hobbies": ["travel", "music"], "salary": 95000},
    {"name": "Eva", "age": 28, "city": "New York", "hobbies": ["reading", "movies"], "salary": 68000},
    {"name": "Frank", "age": 32, "city": "Denver", "hobbies": ["movies", "technology"], "salary": 77000},
    {"name": "Grace", "age": 29, "city": "Chicago", "hobbies": ["reading", "sports"], "salary": 60000},
    {"name": "Hannah", "age": 45, "city": "San Francisco", "hobbies": ["technology", "sports"], "salary": 120000},
    {"name": "Ian", "age": 34, "city": "New York", "hobbies": ["travel", "reading"], "salary": 82000},
    {"name": "Jill", "age": 39, "city": "Chicago", "hobbies": ["sports", "movies"], "salary": 91000},
    {"name": "Kevin", "age": 26, "city": "Seattle", "hobbies": ["reading", "technology"], "salary": 53000},
    {"name": "Laura", "age": 33, "city": "Denver", "hobbies": ["movies", "sports"], "salary": 79000},
    {"name": "Mike", "age": 27, "city": "San Francisco", "hobbies": ["sports", "travel"], "salary": 67000},
    {"name": "Nina", "age": 31, "city": "Chicago", "hobbies": ["technology", "movies"], "salary": 84000},
    {"name": "Oscar", "age": 29, "city": "New York", "hobbies": ["music", "sports"], "salary": 76000},
]


result = collection.insert_many(data)
print(f"Inserted document IDs: {result.inserted_ids}")

Inserted document IDs: [ObjectId('6702770b88bf509eef1777df'), ObjectId('6702770b88bf509eef1777e0'), ObjectId('6702770b88bf509eef1777e1'), ObjectId('6702770b88bf509eef1777e2'), ObjectId('6702770b88bf509eef1777e3'), ObjectId('6702770b88bf509eef1777e4'), ObjectId('6702770b88bf509eef1777e5'), ObjectId('6702770b88bf509eef1777e6'), ObjectId('6702770b88bf509eef1777e7'), ObjectId('6702770b88bf509eef1777e8'), ObjectId('6702770b88bf509eef1777e9'), ObjectId('6702770b88bf509eef1777ea'), ObjectId('6702770b88bf509eef1777eb'), ObjectId('6702770b88bf509eef1777ec'), ObjectId('6702770b88bf509eef1777ed')]

In [20]:
#match 
# Find all documents where age is greater than 25
pipeline = [
    {"$match": {"age": {"$gt": 30}}}
]

result = collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'_id': ObjectId('670240a188bf509eef1777dc'), 'name': 'Charlie', 'age': 35, 'city': 'Updated City'}
{'_id': ObjectId('6702770b88bf509eef1777e1'), 'name': 'Charlie', 'age': 35, 'city': 'San Francisco', 'hobbies': ['sports', 'technology'], 'salary': 88000}
{'_id': ObjectId('6702770b88bf509eef1777e2'), 'name': 'David', 'age': 40, 'city': 'Seattle', 'hobbies': ['travel', 'music'], 'salary': 95000}
{'_id': ObjectId('6702770b88bf509eef1777e4'), 'name': 'Frank', 'age': 32, 'city': 'Denver', 'hobbies': ['movies', 'technology'], 'salary': 77000}
{'_id': ObjectId('6702770b88bf509eef1777e6'), 'name': 'Hannah', 'age': 45, 'city': 'San Francisco', 'hobbies': ['technology', 'sports'], 'salary': 120000}
{'_id': ObjectId('6702770b88bf509eef1777e7'), 'name': 'Ian', 'age': 34, 'city': 'New York', 'hobbies': ['travel', 'reading'], 'salary': 82000}
{'_id': ObjectId('6702770b88bf509eef1777e8'), 'name': 'Jill', 'age': 39, 'city': 'Chicago', 'hobbies': ['sports', 'movies'], 'salary': 91000}
{'_id': ObjectId('6702770b88bf509eef1777ea'), 'name': 'Laura', 'age': 33, 'city': 'Denver', 'hobbies': ['movies', 'sports'], 'salary': 79000}
{'_id': ObjectId('6702770b88bf509eef1777ec'), 'name': 'Nina', 'age': 31, 'city': 'Chicago', 'hobbies': ['technology', 'movies'], 'salary': 84000}

In [21]:
#group
# Group by "city" and calculate the total age for each city
pipeline = [
    {"$group": {"_id": "$city", "total_age": {"$sum": "$age"}}}
]

result = collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'_id': 'New York', 'total_age': 121}
{'_id': 'Updated City', 'total_age': 35}
{'_id': 'San Francisco', 'total_age': 107}
{'_id': 'Seattle', 'total_age': 66}
{'_id': 'Denver', 'total_age': 65}
{'_id': 'Chicago', 'total_age': 149}

In [22]:
# Count the number of people in each city
pipeline = [
    {"$group": {"_id": "$city", "count": {"$sum": 1}}}
]

result = collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'_id': 'Chicago', 'count': 5}
{'_id': 'Updated City', 'count': 1}
{'_id': 'New York', 'count': 4}
{'_id': 'Denver', 'count': 2}
{'_id': 'San Francisco', 'count': 3}
{'_id': 'Seattle', 'count': 2}

In [23]:
# Calculate the average age of people in each city
pipeline = [
    {"$group": {"_id": "$city", "average_age": {"$avg": "$age"}}}
]

result = collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'_id': 'New York', 'average_age': 30.25}
{'_id': 'Updated City', 'average_age': 35.0}
{'_id': 'San Francisco', 'average_age': 35.666666666666664}
{'_id': 'Seattle', 'average_age': 33.0}
{'_id': 'Denver', 'average_age': 32.5}
{'_id': 'Chicago', 'average_age': 29.8}

In [24]:
# Sort cities by total age in descending order
pipeline = [
    {"$group": {"_id": "$city", "total_age": {"$sum": "$age"}}},
    {"$sort": {"total_age": -1}}
]

result = collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'_id': 'Chicago', 'total_age': 149}
{'_id': 'New York', 'total_age': 121}
{'_id': 'San Francisco', 'total_age': 107}
{'_id': 'Seattle', 'total_age': 66}
{'_id': 'Denver', 'total_age': 65}
{'_id': 'Updated City', 'total_age': 35}

In [25]:
# Project only "name" and "age" fields (exclude "_id")
pipeline = [
    {"$project": {"name": 1, "age": 1, "_id": 0}}
]

result = collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'name': 'Bob', 'age': 25}
{'name': 'Charlie', 'age': 35}
{'name': 'Alice', 'age': 30}
{'name': 'Bob', 'age': 25}
{'name': 'Charlie', 'age': 35}
{'name': 'David', 'age': 40}
{'name': 'Eva', 'age': 28}
{'name': 'Frank', 'age': 32}
{'name': 'Grace', 'age': 29}
{'name': 'Hannah', 'age': 45}
{'name': 'Ian', 'age': 34}
{'name': 'Jill', 'age': 39}
{'name': 'Kevin', 'age': 26}
{'name': 'Laura', 'age': 33}
{'name': 'Mike', 'age': 27}
{'name': 'Nina', 'age': 31}
{'name': 'Oscar', 'age': 29}

In [26]:
# Get the first 3 documents with a specified limit
pipeline = [
    {"$limit": 3}
]

result = collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'_id': ObjectId('670240a188bf509eef1777db'), 'name': 'Bob', 'age': 25, 'city': 'Chicago'}
{'_id': ObjectId('670240a188bf509eef1777dc'), 'name': 'Charlie', 'age': 35, 'city': 'Updated City'}
{'_id': ObjectId('6702770b88bf509eef1777df'), 'name': 'Alice', 'age': 30, 'city': 'New York', 'hobbies': ['reading', 'sports'], 'salary': 70000}

In [27]:
# Find the average age for each city, only for those with age > 25, sorted in descending order
pipeline = [
    {"$match": {"age": {"$gt": 25}}},
    {"$group": {"_id": "$city", "average_age": {"$avg": "$age"}}},
    {"$sort": {"average_age": -1}}
]

result = collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'_id': 'San Francisco', 'average_age': 35.666666666666664}
{'_id': 'Updated City', 'average_age': 35.0}
{'_id': 'Seattle', 'average_age': 33.0}
{'_id': 'Chicago', 'average_age': 33.0}
{'_id': 'Denver', 'average_age': 32.5}
{'_id': 'New York', 'average_age': 30.25}

In [28]:
# Add a new field "is_adult" based on age
pipeline = [
    {"$addFields": {"is_adult": {"$gte": ["$age", 18]}}}
]

result = collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'_id': ObjectId('670240a188bf509eef1777db'), 'name': 'Bob', 'age': 25, 'city': 'Chicago', 'is_adult': True}
{'_id': ObjectId('670240a188bf509eef1777dc'), 'name': 'Charlie', 'age': 35, 'city': 'Updated City', 'is_adult': True}
{'_id': ObjectId('6702770b88bf509eef1777df'), 'name': 'Alice', 'age': 30, 'city': 'New York', 'hobbies': ['reading', 'sports'], 'salary': 70000, 'is_adult': True}
{'_id': ObjectId('6702770b88bf509eef1777e0'), 'name': 'Bob', 'age': 25, 'city': 'Chicago', 'hobbies': ['music', 'travel'], 'salary': 52000, 'is_adult': True}
{'_id': ObjectId('6702770b88bf509eef1777e1'), 'name': 'Charlie', 'age': 35, 'city': 'San Francisco', 'hobbies': ['sports', 'technology'], 'salary': 88000, 'is_adult': True}
{'_id': ObjectId('6702770b88bf509eef1777e2'), 'name': 'David', 'age': 40, 'city': 'Seattle', 'hobbies': ['travel', 'music'], 'salary': 95000, 'is_adult': True}
{'_id': ObjectId('6702770b88bf509eef1777e3'), 'name': 'Eva', 'age': 28, 'city': 'New York', 'hobbies': ['reading', 'movies'], 'salary': 68000, 'is_adult': True}
{'_id': ObjectId('6702770b88bf509eef1777e4'), 'name': 'Frank', 'age': 32, 'city': 'Denver', 'hobbies': ['movies', 'technology'], 'salary': 77000, 'is_adult': True}
{'_id': ObjectId('6702770b88bf509eef1777e5'), 'name': 'Grace', 'age': 29, 'city': 'Chicago', 'hobbies': ['reading', 'sports'], 'salary': 60000, 'is_adult': True}
{'_id': ObjectId('6702770b88bf509eef1777e6'), 'name': 'Hannah', 'age': 45, 'city': 'San Francisco', 'hobbies': ['technology', 'sports'], 'salary': 120000, 'is_adult': True}
{'_id': ObjectId('6702770b88bf509eef1777e7'), 'name': 'Ian', 'age': 34, 'city': 'New York', 'hobbies': ['travel', 'reading'], 'salary': 82000, 'is_adult': True}
{'_id': ObjectId('6702770b88bf509eef1777e8'), 'name': 'Jill', 'age': 39, 'city': 'Chicago', 'hobbies': ['sports', 'movies'], 'salary': 91000, 'is_adult': True}
{'_id': ObjectId('6702770b88bf509eef1777e9'), 'name': 'Kevin', 'age': 26, 'city': 'Seattle', 'hobbies': ['reading', 'technology'], 'salary': 53000, 'is_adult': True}
{'_id': ObjectId('6702770b88bf509eef1777ea'), 'name': 'Laura', 'age': 33, 'city': 'Denver', 'hobbies': ['movies', 'sports'], 'salary': 79000, 'is_adult': True}
{'_id': ObjectId('6702770b88bf509eef1777eb'), 'name': 'Mike', 'age': 27, 'city': 'San Francisco', 'hobbies': ['sports', 'travel'], 'salary': 67000, 'is_adult': True}
{'_id': ObjectId('6702770b88bf509eef1777ec'), 'name': 'Nina', 'age': 31, 'city': 'Chicago', 'hobbies': ['technology', 'movies'], 'salary': 84000, 'is_adult': True}
{'_id': ObjectId('6702770b88bf509eef1777ed'), 'name': 'Oscar', 'age': 29, 'city': 'New York', 'hobbies': ['music', 'sports'], 'salary': 76000, 'is_adult': True}

In [29]:
# Loop through each document and update with "is_adult" field
for doc in collection.find():
    # Determine if the person is an adult (age >= 18)
    is_adult = doc["age"] >= 18
    
    # Update the document to add the "is_adult" field
    collection.update_one(
        {"_id": doc["_id"]},                # Match by unique ID
        {"$set": {"is_adult": is_adult}}     # Set the "is_adult" field
    )

print("Updated all documents with 'is_adult' field.")

Updated all documents with 'is_adult' field.

In [32]:
#Handling MongoDB Errors in Python 

from pymongo.errors import (
    ServerSelectionTimeoutError, DuplicateKeyError, WriteError, OperationFailure,
    NetworkTimeout, BulkWriteError
)

def handle_mongo_operation(operation, *args, **kwargs):
    try:
        return operation(*args, **kwargs)
    except ServerSelectionTimeoutError:
        print("Error: Could not connect to MongoDB server.")
    except DuplicateKeyError:
        print("Error: Duplicate key detected.")
    except WriteError:
        print("Error: Issue with the write operation.")
    except OperationFailure:
        print("Error: Operation failed due to invalid syntax or other issues.")
    except NetworkTimeout:
        print("Error: Network timeout occurred.")
    except BulkWriteError as err:
        print("Error: Bulk write operation failed.")
        print("Details:", err.details)
    except Exception as err:
        print("An unexpected error occurred:", err)

# Example usage:
handle_mongo_operation(collection.insert_one, {"_id": 1, "name": "Alice"})

Error: Duplicate key detected.